body {
  margin: 0em 1em 0em 1em;
  text-align:center;
  padding: 0;
  /* box-sizing:border-box; */
}
#container {
  width: 100%;
  /* height: 100vh; */
  display:flex;
  gap:1px;
  flex-wrap:wrap;
  align-items:stretch;
  justify-content:center;
}
.cells {
  display: flex;
  align-items:center;
  justify-content:center;
  width: 14px;
  height: 14px; /* Exactly 1/16 of the viewport height */
  text-align:center;
  /* padding: 1rem; */
  border: 1px solid #000;
}
.bgc {
  background-color: #000000;
}

